<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Esports NL - Events</title>
  <link rel="icon" href="static/icons/esportsnllogo.png" type="image/icon type">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="description" content="Complete event history from Esports NL, the Newfoundland & Labrador esports community." />
</head>
<body>
  {% include 'header.html' %}

  <!-- Events List -->
  <main>
    <section id="events">
      <div class="container">
        <h1>Past Events</h1>
        {% if events %}
          <ul class="event-list">
            {% for event in events %}
              <div class="team-entry">
                <div class="team-header">
                  <h3>
                  <a class="event-link" href="{{ url_for('event', event_id=event.id) }}">
                    {{ event.name }}
                  </a>
                </h3>
                </div>
                  <div class="team-roster">
                    <p>
                      {{ event.date_string }}<br>
                      {{ event.location }}<br>
                      {{ event.game }}
                    </p>
                  </div>
              </div>
            {% endfor %}
          </ul>
        {% else %}
          <p>Failed to find past events.</p>
        {% endif %}
      </div>
    </section>
  </main>

  {% include 'footer.html' %}
</body>
</html>
